name: Builds ATLAS TopCPToolkit science image
on:
  push:

env:
  ANALYSISBASE_TAG: 25.2.66
  TOPCPTOOLKIT_TAG: v2.22.0
  GITLAB_PROJECT: "atlasphys-top/reco"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: TopCP
          push: ${{ github.ref == 'refs/heads/main' }}
          build-args: |
            ANALYSIS_BASE_VERSION=${{ env.ANALYSISBASE_TAG }}
            TOPCPTOOLKIT_TAG=${{ env.TOPCPTOOLKIT_TAG }}
            GITLAB_PROJECT=${{ env.GITLAB_PROJECT }}
          secrets: |
            GIT_KEY=${{ secrets.GITLAB_TOKEN }}
          tags: sslhep/servicex_science_image_topcp:${{ env.ANALYSISBASE_TAG }}-${{ env.TOPCPTOOLKIT_TAG }}
          platforms: linux/amd64,linux/arm64